.App{
  background-color:#282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size:cals(10px+2vmin);
}
.button{
  appearance: none;
  font-size:32px;
  padding:6px 12px;
  outline: none;
  border : none;
  color: white;
  cursor: pointer;
  background-color: gray;
  border-radius: 2px;
  transition: all 0.15s;
}
.value{
  color: white;
  font-size: 40px;
  padding-left: 16px;
  padding-right: 16px;
}
.textbox{
  font-size: 32px;
  padding: 2px;
  margin-right: 10px;
}